.l-page {
  .pure-g > div {
    @include box-sizing();
  }
}

#index-banner {
  background-color: $red-mewpipe;

  h1 {
    color: $white;
    margin-top: 16px;
  }

  .header {
    font-weight: 300;
  }

}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width:992px) {
  #index-banner {

    h1 {
      margin-top: 60px;
    }

  }
}
