<div class="section fadeInLeft"  id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">{{ 'EDIT_VIDEO.TITLE'|translate }}</h1>
      </div>
      <div class="col s12 m3">

      </div>
    </div>
  </div>
</div>
<div class="container fadeInLeft">
  <div class="col s12 m12">
    <form name="editVideoForm" id="editForm" novalidate="" ng-submit="editVideo()">

      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-editor-format-quote prefix"></i>
          <input class="validate" id="title" type="text" length="255" ng-model="title" required>
          <label for="title" class="active">{{ 'ADD_VIDEO.FORM.TITLE'|translate }}</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-image-dehaze prefix"></i>
          <textarea id="description" class="materialize-textarea validate" length="400" ng-model="description"></textarea>
          <label for="description" class="active">{{ 'ADD_VIDEO.FORM.DESCRIPTION'|translate }}</label>
        </div>
      </div>

      <h3 class="header">{{ 'ADD_VIDEO.FORM.ACCESS'|translate }}</h3>
      <p>
        <input name="accessName" type="radio" id="public" value="1" ng-model="profile" required />
        <label for="public">{{ 'ADD_VIDEO.FORM.PUBLIC'|translate }}</label>
      </p>
      <p>
        <input name="accessName" type="radio" id="member" value="2" ng-model="profile" required />
        <label for="member">{{ 'ADD_VIDEO.FORM.MEMBER'|translate }}</label>
      </p>
      <p>
        <input name="accessName" type="radio" id="private" value="3" ng-model="profile"  required />
        <label for="private">{{ 'ADD_VIDEO.FORM.PRIVATE'|translate }}</label>
      </p>
      <br/><br/>

      <button class="btn waves-effect waves-light primary-color" type="submit" ng-disabled="editVideoForm.$invalid" name="action">{{ 'EDIT_VIDEO.SUBMIT'|translate }}
        <i class="mdi-image-switch-video"></i>
      </button>

    </form>
  </div>
</div>
